---
import Layout from '../components/Layout/Layout.astro';
import { getAllPosts } from '../data-loading/getAllPosts';
import {
  getPostsWithYearSeparators,
  isYearSeparator,
} from '../data-loading/getPostsWithYearSeparators';
import { formatDate } from '../formatting/formatDate';
const posts = getPostsWithYearSeparators(await getAllPosts());
---

<style>
  .splash {
    margin-bottom: 1em;
  }
  .resume {
    text-decoration: underline;
  }

  .big {
    font-size: 1.4em;
    padding: 1.2em;
  }
  .center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  blockquote {
    font-size: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
  }
  .post-title {
    margin: 0;
    font-size: 1.4em;
    text-decoration: none !important;
  }
  .date {
    filter: brightness(350%);
    font-size: 0.9em;
    margin: 0.2em 0 0.4em 0;
  }
  .description {
    font-size: 0.9em;
    margin: 0;
  }

  .box:hover .post-title {
    color: var(--links);
  }

  .year {
    margin-left: 0.5em;
  }

  blockquote {
    max-width: 480px;
  }
</style>

<Layout
  title="About"
  description="About page for Jon Kurinsky's developer blog"
>
  <div class="box center big">
    <p class="splash">
      I'm <strong>Jon Kurinsky</strong>, a Philadelphia-based software engineer.
    </p>
    <blockquote>
      <p>⭐️ I'm on the job market! ⭐️</p>
      <p>
        This site contains my infrequently-updated technical blog. Check out <a
          class="resume"
          href="https://github.com/krnsk0"
          target="_blank"
          rel="noopener noreferrer">my Github readme</a
        > for more on what I'm looking for in my next role. <a
          class="resume"
          href="Jon_Kurinsky.pdf"
          target="_blank"
          rel="noopener noreferrer">Here's my resume</a
        >.
      </p>
    </blockquote>
  </div>

  <ul>
    {
      posts.map((postOrSeparator) => {
        if (isYearSeparator(postOrSeparator)) {
          const { postYear } = postOrSeparator;
          return (
            <li>
              <h2 class="year">{postYear}</h2>
            </li>
          );
        } else {
          const {
            frontmatter: { title, pubDate, description, slug },
          } = postOrSeparator;
          return (
            <li>
              <a href={`posts/${slug}`}>
                <div class="box hover">
                  <h3 class="post-title">{title}</h3>
                  <p class="date">{formatDate(pubDate)}</p>
                  <p class="description">{description}</p>
                </div>
              </a>
            </li>
          );
        }
      })
    }
  </ul>
</Layout>
